<link rel="stylesheet" href="../css/users.css">
<link rel="stylesheet" href="../css/main.css">

<main>


    <div class="container" style="background-color: white">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <img src="../images/project-avatar-input-icon.png" id="project-avatar"
                             class="img-circle profile-avatar" alt="User avatar">
                    </div>
                    <div>
                        <h6 class="image-input">Choose a background for your profile</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Profile Info</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Profile name</label>
                            <div class="col-sm-10">
                                <input type="tel" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Profile brief dicreption</label>
                            <div class="col-sm-10">
                                <input type="tel" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Description</label>
                            <div class="col-sm-10">
                                <textarea rows="3" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Members Email</h4>
                        <a href="#"> <img class="add-member-icon" src="../images/user-icon.png" alt="add-icon"></a>
                        <p class="hints">their information will be loaded automatically accourding to the email</p>
                    </div>
                    <div id="new-member-email" class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Member</label>
                            <div class="col-sm-10">
                                <input type="tel" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Project Info</h4>
                        <a href="#"> <img class="add-project-icon" src="../images/user-icon.png" alt="add-icon"></a>
                        <p class="hints">their information will be loaded automatically from the database accourding to
                            the id</p>
                    </div>
                    <div id="new-project-id" class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">project</label>
                            <div class="col-sm-10">
                                <input type="tel" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <button type="submit" class="btn btn-primary"><a class="no-dec-link" href="index">Submit</a>
                        </button>
                        <button type="reset" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
