
	<main>


		<section id="home">
			<div class="container-fluid">
				<h1><b>LinkedLancer</b></h1>
				<h5><b>Start Your Dream Project!</b></h5>
				<button class="btn"><b>Get Started</b></button>

			</div>
		</section>
		<section id="about">
			<div class="container">
				<h1 class="text-light">About Us</h1>
				<p class="text-light">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed fugit officia inventore,
					facilis magnam voluptate praesentium doloremque, quam, fugiat error aliquam provident quidem? Libero eaque
					nulla
					hic quisquam! Ratione, sit?aaa</p>
				<p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi unde beatae officia numquam
					dolor obcaecati
					odit enim magnam quis reiciendis velit rerum laboriosam quos laudantium pariatur nihil, sapiente, ad quidem?
				</p>
				<p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi unde beatae officia numquam
					dolor obcaecati
					odit enim magnam quis reiciendis velit rerum laboriosam quos laudantium pariatur nihil, sapiente, ad quidem?
				</p>
			</div>
		</section>
		<section id="start">
			<div id="start-elemnt">
				<div class="container">
					<h2 class="text-light">
						Hire expert freelancers for any job, online
					</h2>
					<h6 class="text-light">Millions of small businesses use Freelancer to turn their ideas into reality.</h6>

				</div>

				<br>
				<div class="container">
					<div class="row">
						<div class="col-md-6 center">
							<div class="tab" role="tabpanel">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs center" role="tablist">
									<li role="presentation" class=" center"><a href="#employer" aria-controls="home" role="tab"
											data-toggle="tab">Post a project!</a></li>

									<li role="presentation" class="center"><a href="#freelancer" aria-controls="profile" role="tab"
											data-toggle="tab">Become Freelancer</a></li>
								</ul>
								<!-- Tab panes -->
								<div class="tab-content tabs center">
									<div role="tabpanel" class="tab-pane fade  " id="employer">
										<div class="container">
											<div class="row centered-form">
												<div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4 form-cont">
													<div class="panel panel-default">
														<div class="panel-heading">
															<h3 class="panel-title">ٍSign up to hire Freelancers <small>It's free!</small></h3>
														</div>
														<div class="panel-body">
															<form role="form">
																<div class="row">
																	<div class="col-xs-6 col-sm-6 col-md-6">
																		<div class="form-group">
																			<input type="text" name="first_name" id="first_name" class="form-control input-sm"
																				placeholder="First Name">
																		</div>
																	</div>
																	<div class="col-xs-6 col-sm-6 col-md-6">
																		<div class="form-group">
																			<input type="text" name="last_name" id="last_name" class="form-control input-sm"
																				placeholder="Last Name">
																		</div>
																	</div>
																</div>

																<div class="form-group">
																	<input type="email" name="email" id="email" class="form-control input-sm"
																		placeholder="Email Address">
																</div>

																<div class="row">
																	<div class="col-xs-6 col-sm-6 col-md-6">
																		<div class="form-group">
																			<input type="password" name="password" id="password" class="form-control input-sm"
																				placeholder="Password">
																		</div>
																	</div>
																	<div class="col-xs-6 col-sm-6 col-md-6">
																		<div class="form-group">
																			<input type="password" name="password_confirmation" id="password_confirmation"
																				class="form-control input-sm" placeholder="Confirm Password">
																		</div>
																	</div>
																</div>

																<input type="submit" value="Register" class="btn  btn-block">
																<a href="sssa,hmfbmjadhsf" style="text-decoration: underline;"><b>Sgin in</b></a>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane fade" id="freelancer">
										<div class="container">
											<div class="row centered-form">
												<div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4 form-cont">
													<div class="panel panel-default">
														<div class="panel-heading">
															<h3 class="panel-title">Sign up to become Freelancer <small>It's free!</small></h3>
														</div>
														<div class="panel-body">
															<form role="form">
																<div class="row">
																	<div class="col-xs-6 col-sm-6 col-md-6">
																		<div class="form-group">
																			<input type="text" name="first_name" id="first_name" class="form-control input-sm"
																				placeholder="First Name">
																		</div>
																	</div>
																	<div class="col-xs-6 col-sm-6 col-md-6">
																		<div class="form-group">
																			<input type="text" name="last_name" id="last_name" class="form-control input-sm"
																				placeholder="Last Name">
																		</div>
																	</div>
																</div>

																<div class="form-group">
																	<input type="email" name="email" id="email" class="form-control input-sm"
																		placeholder="Email Address">
																</div>

																<div class="row">
																	<div class="col-xs-6 col-sm-6 col-md-6">
																		<div class="form-group">
																			<input type="password" name="password" id="password" class="form-control input-sm"
																				placeholder="Password">
																		</div>
																	</div>
																	<div class="col-xs-6 col-sm-6 col-md-6">
																		<div class="form-group">
																			<input type="password" name="password_confirmation" id="password_confirmation"
																				class="form-control input-sm" placeholder="Confirm Password">
																		</div>
																	</div>
																</div>

																<input type="submit" value="Register" class="btn  btn-block">
																<a href="login" style="text-decoration: underline;"><b>Sgin in</b></a>

															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
		integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
		crossorigin="anonymous"></script>

