<link rel="stylesheet" href="../css/profile.css">
<link rel="stylesheet" href="../css/main.css">


<main>

    <!--when contact us button clicked-->
    <div class="modal fade" id="modalContactUs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Contact US</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">

                        <input type="email" id="defaultForm-email" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="defaultForm-email">What do you want to tell
                            us?</label>
                    </div>


                    <div class="modal-footer d-flex justify-content-center">

                        <a href="index.html" class="btn btn-primary">Send</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="welcome-section">
        <div class="welcome-image-container">

            <img id="welcome-image" src="../images/project-background.jpg" alt="welcome-image">
            <div class="centered">
                <h1><b>Creators Team</b></h1>
                <h5><b>Software is our world</b></h5>
            </div>
        </div>

    </div>

    <div id="about">
        <div class="container">
            <h1 class="text-light">About Us</h1>
            <p class="text-light">
                Software engineering team who is ready and experienced in different field of the software world and it
                technolog. ready to put the knowledge, effort and experince in order to create software products that
                are
                maintainable, efficint and easy to use for all customers

                and directing software system validation and testing methods. Directing our software programming
                initiatives.
                Overseeing the development of documentation. Working closely with clients and cross-functional
                departments to
                communicate project statuses and proposals
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" id="profiles-sec">
                <div id="profile-card-container" class="container">
                    <div class="card">
                        <img id="profile-image" src="../images/profiles images/profile01.jpg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">faisel Authman </h4>
                            <h6 class="card-text">faisel@gmail.com</h6>
                            <p class="profile-description">A software engineer with 3 years of experince interisted in
                                mobile
                                development. I have done a lot of projects using different languages and technologies
                                like node js,
                                firebase, java, and php</p>
                            <a href="#" class="btn btn-primary">Send message</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" id="profiles-sec">
                <div id="profile-card-container" class="container">
                    <div class="card">
                        <img id="profile-image" src="../images/profiles images/profile02.jpg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">faisel Authman </h4>
                            <h6 class="card-text">faisel@gmail.com</h6>
                            <p class="profile-description">A software engineer with 3 years of experince interisted in
                                mobile
                                development. I have done a lot of projects using different languages and technologies
                                like node js,
                                firebase, java, and php</p>
                            <a href="#" class="btn btn-primary">Send message</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" id="profiles-sec">
                <div id="profile-card-container" class="container">
                    <div class="card">
                        <img id="profile-image" src="../images/profiles images/profile03.jpg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">faisel Authman </h4>
                            <h6 class="card-text">faisel@gmail.com</h6>
                            <p class="profile-description">A software engineer with 3 years of experince interisted in
                                mobile
                                development. I have done a lot of projects using different languages and technologies
                                like node js,
                                firebase, java, and php</p>
                            <a href="#" class="btn btn-primary">Send message</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <h3 class="title">
        Projects created / being created by Creators team
    </h3>

    <div id="project-card" class="container">
        <div id="project-content-div" class="card">
            <div class="welcome-image-container">
                <img id="project-image" src="../images/projects images/project01.png" alt="welcome-image">
            </div>
            <div class="card-body">
                <h2 class="card-title">Movies Watcher</h2>
                <br>
                <p id="project-description" class="card-text">Buy or rent the newest movies and shows before they hit
                    DVD or
                    streaming. You can also search for titles to see which streaming apps offer them.
                    Anything you buy or rent on Google Play can be downloaded to watch when you’re not connected. Watch
                    instantly on your Android phone or tablet, or on your TV using Chromecast.
                    <br>
                    <button type="button" class="btn btn-link" data-toggle="collapse"
                            data-target="#hided-project-description01">Show more
                    </button>
                </p>
                <div id="hided-project-description01" class="collapse">
                    <h6>WATCH ACROSS YOUR STREAMING APPS</h6>
                    <p>New! See if a streaming service offers your favorite show or movie. Just search for it and check
                        to see
                        if other streaming options are available.</p>
                    <h6>NEW WAYS TO DISCOVER SHOWS & MOVIES</h6>
                    <p>Find new shows and movies to watch in just a few taps - from family movies to award-winning crime
                        shows
                        Give a thumbs up or down to get better recommendations for what to watch next</p>
                </div>
                <a href="#" class="btn btn-primary">Visit the website</a>
            </div>
        </div>
    </div>

    <div id="project-card" class="container">
        <div id="project-content-div" class="card">
            <div class="welcome-image-container">
                <img id="project-image" src="../images/projects images/project02.webp" alt="welcome-image">
            </div>
            <div class="card-body">
                <h2 class="card-title">Cool Massenger</h2>
                <br>
                <p id="project-description" class="card-text">Be together whenever, with our free* all-in-one
                    communication
                    app, complete with unlimited text, voice, video calling and group video chat features. Easily sync
                    your
                    messages and contacts to your Android phone and connect with anyone, anywhere.
                    <br>
                    <button type="button" class="btn btn-link" data-toggle="collapse"
                            data-target="#hided-project-description02">Show more
                    </button>
                </p>
                <div id="hided-project-description02" class="collapse">
                    <h6>FREE VIDEO CALLS TO STAY CONNECTED</h6>
                    <p>Keep your friends and family close with unlimited live video chatting - like facetime, but works
                        across
                        devices (Android, iOS, etc.). Host group video calls with up to 8 people, with high-quality
                        audio, high
                        definition video, and interactive video features like face filters.
                    </p>
                    <h6>UNLIMITED FREE TEXT & PHONE CALLS</h6>
                    <p>Skip exchanging phone numbers and simply send a message to your Facebook friends, even if they’re
                        across
                        the world. Enjoy high-quality voice and text messaging on mobile, tablet, and desktop.</p>
                </div>
                <a href="#" class="btn btn-primary">Visit the website</a>
            </div>
        </div>
    </div>

</main>
