<link rel="stylesheet" href="../css/projects.css">
<link rel="stylesheet" href="../css/main.css">

<main>
    <div class="container" style="background-color: #f8f9fa; height: 70vh; padding: 80px">
        <h1>Project name</h1>

        <h2>Team working on the project</h2>


        <div id="container" style="padding:30px">
            <h2 class="title">First Phase</h2>
            <ul>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, magni perspiciatis inventore
                consequuntur fugiat assumenda, optio a iusto pariatur eveniet quidem ipsa numquam? Ullam quasi
                explicabo corporis amet rerum rem.

            </ul>
        </div>
        <div id="container">
            <div class="tracking">
                <h2 class="title" style="padding: 0 30px">Where is the project at?</h2>
            </div>
            <div class="progress-track">
                <ul id="progressbar">
                    <li class="step0 active " id="step1">UI development</li>
                    <li class="step0 active text-center" id="step2">Database development</li>
                    <li class="step0 active text-right" id="step3">Backend development</li>
                    <li class="step0 text-right" id="step4">Delivered</li>
                </ul>
            </div>
        </div>

    </div>

    <br><br>
</main>

